Source: psec-duo-auth
Section: network
Priority: optional
Maintainer: Painless Security, LLC <support@painless-security.com>
Build-Depends: debhelper (>= 9), libduo-dev (<< 1.9.21), libjansson-dev
Standards-Version: 3.9.8

Package: psec-duo-auth
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Duo authentication tool
 Duo MFA authentication tool

